@import './utils/colors.scss';
@import './utils/fonts.scss';

// Bootstrap Functions
@import "node_modules/bootstrap/scss/functions";  

// Override default variables before the bootstrap import
@import './overrides/_variables.scss';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

//Import Bootstrap overrides
@import './overrides/bootstrap.scss';

@import './components/_form.scss';
@import './components/_centered-container.scss';
@import './components/_dashboard-card.scss';

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */
  
.sidebar .nav-link:hover .feather,
.sidebar .nav-link:active .feather {
  color: inherit;
}




