@import '../../styles/utils/colors.scss';

.mainNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: $white-color;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.brand {
  margin-right: 0;
  padding: 16px;
  color: $primary-color !important;

  &:hover {
    //color: darken($white-color, 15%) !important;
  }
}

.brandIcon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.brandText {
  font-weight: 600;
}

.toggler {
  margin-right: 16px;
  border-color: $white-color !important;
}

.list {
  margin-left: auto;
  padding-right: 8px;

  @media (max-width: 768px) { 
    padding-left: 8px; 
  }
}

.link {
  //color: $body-color !important;

  &:hover {
    color: $primary-color !important;
  }
}