@import '../../styles/utils/colors.scss';

.sidebar {
  position: fixed;
  top: 58px;  /* Height of navbar */
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: $white-color;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

  @media(max-width: 768px){
    position: relative;
  }
}

