@import '../../styles/utils/colors.scss';

.link {
  position: relative;
  z-index: 100;
  font-weight: 500;
  color: $body-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $white-color;

  &:hover {
    background-color: $white-color;
    color: $primary-color;
  }
}

.active {
  color: $primary-color;
  border-left: 4px solid $primary-color;
}

.feather {
  margin-right: 4px;
  color: $dark-gray-color;

  &:hover {
    background-color: $white-color;
    color: $primary-color;
  }
}

